
.idea/.name

.idea/workspace.xml

.idea/vcs.xml

.idea/scopes/scope_settings.xml

.idea/queue.iml

.idea/modules.xml

.idea/misc.xml

.idea/libraries/sass_stdlib.xml

.idea/encodings.xml

.idea/codeStyleSettings.xml
